
<div class="row">
  {{ macro_show._show_detail('Marca', entity.marca, 'col-md-3') }}
  {{ macro_show._show_detail('Dominio', entity.dominio, 'col-md-3') }}
  {{ macro_show._show_detail('Modelo', entity.modelo, 'col-md-3') }}
  {{ macro_show._show_detail('Tipo', entity.tipo, 'col-md-3') }}
</div>
<div class="row">
  {{ macro_show._show_detail('NumeroMotor', entity.numeroMotor, 'col-md-4') }}
  {{ macro_show._show_detail('NumeroChasis', entity.numeroChasis, 'col-md-4') }}
  {{ macro_show._show_detail('Cotizaci&oacute;n Dolar', entity.cotizacionDolar, 'col-md-4') }}
</div>
<div class="row">
  {{ macro_show._show_detail('Precio Compra Usd', entity.precioCompraUsd, 'col-md-3') }}
  {{ macro_show._show_detail('Precio Venta Usd', entity.precioVentaUsd, 'col-md-3') }}
  {{ macro_show._show_detail('Precio Compra Pesos', entity.precioCompraPesos, 'col-md-3') }}
  {{ macro_show._show_detail('Precio Venta Pesos', entity.precioVentaPesos, 'col-md-3') }}
  <!--end::Item-->
</div>