
<li class="menu-item menu-item-submenu menu-item-rel" data-menu-toggle="click" aria-haspopup="true">
		<a href="javascript:;" class="menu-link menu-toggle">
			<span class="menu-text">Documentos t&eacute;cnicos</span>
			<i class="menu-arrow"></i>
		</a>
		<div class="menu-submenu menu-submenu-classic menu-submenu-left" data-hor-direction="menu-submenu-left">
			<ul class="menu-subnav">
                {% if is_granted("ROLE_DOCUMENTO_TECNICO_VIEW") %}
                    <li class="menu-item" data-menu-toggle="click" aria-haspopup="true">
                        <a href="{{ path('documentotecnico_index') }}" class="menu-link">
                            <span class="menu-text">Documentos t&eacute;cnicos</span>
                        </a>
                    </li>
                {% endif %}
                {% if is_granted("ROLE_ADJUNTO_DOCUMENTO_TECNICO_APROBAR_RECHAZAR") %}
                    <li class="menu-item" data-menu-toggle="click" aria-haspopup="true">
                        <a href="{{ path('documentotecnico_index_aprobacion') }}" class="menu-link">
                            <span class="menu-text">Pendientes de aprobaci&oacute;n</span>
                        </a>
                    </li>
                {% endif %}
                {% if is_granted("ROLE_ADJUNTO_DOCUMENTO_TECNICO_TODOS_ADJUNTOS") %}
                    <li class="menu-item" data-menu-toggle="click" aria-haspopup="true">
                        <a href="{{ path('documentotecnico_index_adjuntos') }}" class="menu-link">
                            <span class="menu-text">Reporte adjuntos documentos</span>
                        </a>
                    </li>
                {% endif %}
                {% if is_granted("ROLE_INTERESADO_HISTORICO_VIEW") %}
                    <li class="menu-item" data-menu-toggle="click" aria-haspopup="true">
                        <a href="{{ path('interesadohistorico_index') }}" class="menu-link">
                            <span class="menu-text">Reporte bit&aacute;cora</span>
                        </a>
                    </li>
                {% endif %}
                {% if is_granted("ROLE_CATEGORIA_DOCUMENTO_TECNICO_VIEW") %}
                    <li class="menu-item" data-menu-toggle="click" aria-haspopup="true">
                        <a href="{{ path('categoriadocumentotecnico_index') }}" class="menu-link">
                            <span class="menu-text">Categor&iacute;as</span>
                        </a>
                    </li>
                {% endif %}
			</ul>
		</div>
</li>
